In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
model=pickle.load(open('model.pkl','rb'))
shops = pd.read_csv('shops_data.csv')
shops = shops[['shop_id', 'shop_category', 'shop_city']]

In [3]:
items = pd.read_csv('items_data.csv')
items = items[['item_id', 'item_category_id', 'name2', 'name3',
       'item_price', 'subtype_code', 'type_code']]

In [12]:
shops

    shop_id  shop_category  shop_city
0         2              4          0
1         3              2          1
2         4              4          2
3         5              3          3
4         6              0          4
5         7              3          4
6         8              3          4
7         9              0          5
8        11              0          6
9        12              0          7
10       13              4          8
11       14              4          8
12       15              3          9
13       16              4         10
14       17              4         11
15       18              4         11
16       19              4         12
17       20              0         13
18       21              0         13
19       22              0         13
20       23              1         13
21       24              1         13
22       25              2         13
23       26              4         13
24       27              4         13
25       28              4         13
26       29              4         13
27       30              4         13
28       31              4         13
29       32              4         13
30       33              2         14
31       34              3         15
32       35              3         15
33       36              3         16
34       37              4         16
35       38              4         17
36       39              2         18
37       41              4         18
38       42              1         19
39       43              1         19
40       44              4         20
41       45              4         20
42       46              4         21
43       47              3         22
44       48              3         23
45       49              3         24
46       50              4         24
47       51              4         24
48       52              1         25
49       53              4         25
50       54              4         26
51       55              0         27
52       56              3         28
53       57              0         29
54       58              4         29
55       59              4         30

In [4]:
# 1.1.2013:0
# 1.1.2014:12
# .2015:24
# 1.9.2016:33
# 2016:36

In [43]:
import json
a = {
  "date_block_num": 34,
  "shop_id": 2,
  "item_id": 5
}
train = pd.DataFrame.from_dict(a, orient='index').T

In [44]:
a

{'date_block_num': 34, 'shop_id': 2, 'item_id': 5}

In [56]:
val = [34, 3, 5]

In [58]:
keys = ["date_block_num", "shop_id", "item_id"]
values = [10,20,30]

fruit_dictionary = dict(zip(keys, values))

print(fruit_dictionary)
train = pd.DataFrame.from_dict(val, orient='index').T

{'date_block_num': 10, 'shop_id': 20, 'item_id': 30}

AttributeError: 'list' object has no attribute 'values'

In [59]:
def ValuePredictor(values):
    keys = ["date_block_num", "shop_id", "item_id"]
#     values = [10,20,30]

    dict_ = dict(zip(keys, values))

#     print(dict_)
    train = pd.DataFrame.from_dict(dict_, orient='index').T
    
    
    train=pd.merge(train,items,on=['item_id'],how='inner')
    train=pd.merge(train,shops,on=['shop_id'],how='inner')
    train.sort_values(["date_block_num", "shop_id", "item_id"], inplace = True )
    train=train.reset_index(drop=True)

    train["month"] = train["date_block_num"] % 12
    days = pd.Series([31,28,31,30,31,30,31,31,30,31,30,31])
    train["days"] = train["month"].map(days).astype(np.int8)
    train["year"] = 2013+(train["date_block_num"]/12).astype(np.int16)
    train['month']=train['month']+1
    
    t = train[['date_block_num', 'shop_id', 'item_id', 'shop_category', 'shop_city',
       'item_category_id', 'name2', 'name3', 'subtype_code', 'type_code', 'days', 'month', 'year',
       'item_price', ]]
    return model.predict(t)

In [60]:
ValuePredictor(val)

array([-0.0648157], dtype=float32)

In [15]:
# train=pd.merge(matrix,train,on=["date_block_num", "shop_id", "item_id"],how='left')
# train=train.fillna(0)
train=pd.merge(train,items,on=['item_id'],how='inner')
train=pd.merge(train,shops,on=['shop_id'],how='inner')
train.sort_values(["date_block_num", "shop_id", "item_id"], inplace = True )
train=train.reset_index(drop=True)

# In[23]:


train["month"] = train["date_block_num"] % 12
days = pd.Series([31,28,31,30,31,30,31,31,30,31,30,31])
train["days"] = train["month"].map(days).astype(np.int8)
train["year"] = 2013+(train["date_block_num"]/12).astype(np.int16)
train['month']=train['month']+1


# In[24]:
train

,date_block_num,shop_id,item_id,item_category_id,name2,name3,item_price,subtype_code,type_code,shop_category,shop_city,month,days,year
0,34,2,5,40,4,1008,28.0,4,5,4,0,11,30,2015

In [16]:
train.columns

Index(['date_block_num', 'shop_id', 'item_id', 'item_category_id', 'name2',
       'name3', 'item_price', 'subtype_code', 'type_code', 'shop_category',
       'shop_city', 'month', 'days', 'year'],
      dtype='object')

In [17]:

t = train[['date_block_num', 'shop_id', 'item_id', 'shop_category', 'shop_city',
       'item_category_id', 'name2', 'name3', 'subtype_code', 'type_code', 'days', 'month', 'year',
       'item_price', ]]

In [19]:
p = model.predict(t)
# p.clip(0,20)

In [21]:
p

array([-0.02517527], dtype=float32)